<div>
	<a ui-sref="course_create">add new course</a>
	<h3>all available courses</h3>
	<table>
		<thead>
		  <tr>
		    <th>Id</th>
		    <th>Name</th>
		    <th>Description</th>
		    <th></th>
		  </tr>
		</thead>
		<tr ng-repeat="c in courses | orderBy: 'id'">
		  <td>{{c.id}}</td>
		  <td>{{c.name}}</td>
		  <td>{{c.description}}</td>
		  <td><a ui-sref="course_view({ id: c.id })">view</a></td>
		  <td><a href="#" ng-click="deleteCourse(c.id)">delete</a></td>
		</tr>
	</table>
</div>
