<div class="row">
	<div class="col-1">
	</div>
	<div class="col-5">
		<a ui-sref="course_create">
			<button class="btn btn-sm btn-primary">add new course</button>
		</a>
		<br><br>
		<h3>All available courses</h3>
		<table class="table table-sm table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th></th>
				</tr>
			</thead>
			<tr ng-repeat="c in courses | orderBy: 'id'">
			  <td>{{c.id}}</td>
			  <td>{{c.name}}</td>
			  <td>{{c.description}}</td>
				<td>
					<a ui-sref="course_view({ id: c.id })">
						<button class="btn btn-sm btn-primary">view</button>
					</a>
				</td>
				<td>
					<button class="btn btn-sm btn-danger" ng-click="deleteCourse(c.id)">delete</button>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-6">
	</div>
</div>
<div ng-show="loading"><img src="/scripts/assets/spinner.gif" /></div>
</div>
