<div>
	<h3>student</h3>
	<table>
		<thead>
		  <tr>
		    <th>Id</th>
		    <th>Name</th>
				<th></th>
		  </tr>
		</thead>
		<tr>
		  <td>{{student.id}}</td>
		  <td>{{student.name}}</td>
			<td><a ui-sref="student_update({ student: student })">update</a></td>
		</tr>
	</table>
	<br />
	<div ng-controller="CoursesCtrl">
		<div ng-controller="StudentCoursesCtrl">
			<table ng-show="student_courses.length > 0">
				<thead>
				  <tr>
				    <th>Id</th>
				    <th>Course</th>
						<th>Note</th>
						<th></th>
				  </tr>
				</thead>
				<tr ng-repeat="r in student_courses | orderBy: 'id'">
				  <td>{{r.id}}</td>
					<td>
						<select ng-model="r.course_id" ng-options="c.id as c.description for c in courses" disabled>
						</select>
					</td>
				  <td>{{r.note}}</td>
					<td><a href="#" ng-click="deleteStudentCourse(r.id, r.student_id)">delete</a></td>
				</tr>
			</table>
			<div ng-hide="student_courses.length > 0">
				** no courses registered **
			</div>
		</div>
	</div>
	<div ng-controller="StudentCourseCreateCtrl">
		<a ui-sref="studentcourse_create({ student_id: student.id })">add course</a>

		<!-- <a ui-sref="studentcourse_create({ student_id: student.id })">
    	<button>add course</button>
		</a> -->
	</div>
</div>
