<div>
	<div ng-show="loading"><img src="/scripts/assets/spinner.gif" /></div>
	<div ng-repeat="coursesPerStudent in allRecords() | filter: filterStudents | orderBy: 'student_id'">
		<span>Student: <strong>{{coursesPerStudent.student_name}}</strong></span>
		<table>
			<thead>
				<tr>
					<th>CourseName</th>
					<th>Note</th>
					<th></th>
				</tr>
			</thead>
			<tr ng-repeat="course in lookuprecords | filter: {student_id: coursesPerStudent.student_id } | orderBy: 'course_id'">
				<td>{{course.course_name}}</td>
				<td>{{course.note}}</td>
				<td></td>
			</tr>
		</table>
		<hr>
	</div>
</div>
